# Cache files
.DS_Store
.cache

# ROS2 compilation files
**/build/
**/install/
**/log/

# External packages
**/mocap_msgs/
**/mocap4r2/
**/mocap4ros2_optitrack/
**/ros_phoenix/*

# Maintain version control of launch files
!**/ros_phoenix/launch/
**/ros_phoenix/launch/*
!**/ros_phoenix/launch/trunk.launch.py
