# IDE files
.idea/

# Virtual environments
venv/

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]


# Cache files
.DS_Store
.cache
**/__pycache__/
.aider*

# ROS2 compilation files
**/build/
**/install/
**/log/

# Large files
**/large_files/

# External packages
**/mocap_msgs/
**/mocap4r2/
**/mocap4ros2_optitrack/
**/ros_phoenix/*
**/image_common/
**/image_transport_plugins/
**/ros2_v4l2_camera/
**/vision_opencv/

# Maintain version control of custom launch file
!**/ros_phoenix/launch/
**/ros_phoenix/launch/*
!**/ros_phoenix/launch/trunk.launch.py

# Virtual environment
.venv/
